.loading {
  background: white url("/admin/view/javascript/fancytree/skin-win7/loading.gif") right center no-repeat;
}

.autoContainer  {
  max-height: 250px;
  overflow-y: auto;
  overflow-x: hidden;
  padding-right: 20px;
  font-size: 12px;
  padding: 5px 0;
  margin: 2px 0 0;
  list-style: none;
  font-size: 12px;
  text-align: left;
  background-color: #fff; 
  border: 1px solid rgba(0, 0, 0, .15);
  /* border-radius: 3px; */
  -webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, .175);
  box-shadow: 0 6px 12px rgba(0, 0, 0, .175);
  background-clip: padding-box;
  z-index: 1000; 
}

.autoContainer > li > span {
  display: block;
  padding: 3px 20px;
  clear: both;
  font-weight: normal;
  line-height: 1.42857;
  color: #333;
  white-space: nowrap;    
}

.autoContainer > li > span:hover, .autoContainer > li > span:focus {
  text-decoration: none;
  color: #262626;  
  cursor: pointer;
  /* linear-gradient (to bottom, #f2f9fd 0%, #c4e8fa 100%); */
  background-image: linear-gradient(rgb(242, 249, 253) 0%, rgb(196, 232, 250) 100%);
  background-position-x: initial;
  background-position-y: initial;
  background-size: initial;
  /* background-repeat-x: initial;
  background-repeat-y: initial; */
  background-attachment: initial;
  background-origin: initial;
  background-clip: initial;
  background-color: initial;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f2f9fd', endColorstr='#c4e8fa', GradientType=0);
}